<div class="container mt-5">
  <div class="card" style="width: 23rem; padding: 10px;">
    <div class="card-body">
      <h5 class="card-title"><strong>ID</strong> : {{currentUser.id}}</h5>
      <h5 class="card-subtitle my-2"><strong>Name</strong> : {{currentUser.userName}}</h5>
      <p class="card-text"><strong>Email</strong> : {{currentUser.userEmail}}.</p>
      <p class="card-text"><strong>Contact</strong> : {{currentUser.userContact}}.</p>
    </div>
  </div>

  <button class="btn btn-primary mt-4" routerLink="/Home">Back</button>

</div>
